$color-dark: #000000;
$color-dark-brighter: #1a1918;
$color-gray: #322f2e;
$color-gray-brighter: #313131;
$color-orange: #c47344;
$background-color-form: #faf7f3;
$background-color-blyr: #fff8ee;
$background-color: #fdf4ec;
$background-color-white: #ffffff;
$color-orangwdwe: #00000073;
$color-transparent: #d3d3d3;
